In [1]:
import pandas as pd
from lxml import etree
from sql_functions import build_dataframe_from_XML
import Capstone_functions as cf

parser = etree.XMLParser(recover=True)

xtree = etree.parse("data/old_API_id_260200.xml", parser= parser).getroot()

In [2]:
df = cf.df_main(xtree)
df2 = cf.df_poll(xtree, entrypoint="suggested_numplayers")
df3 = cf.df_subnodes(xtree, entrypoint="statistics")
df3.tail()

,id,average,user_rated,num_owned,trading,wanting,wishing,numcomments,numweights,averageweight
128,260195,1,1,1,0,0,0,1,0,0
129,260196,7.53365,52,820,24,4,37,23,0,0
130,260197,8.25,8,143,4,1,0,6,0,0
131,260198,8.42857,7,139,4,1,0,5,0,0
132,260199,8.21429,7,138,4,2,3,6,0,0