In [1]:
import pandas as pd
from lxml import etree
from sql_functions import build_dataframe_from_XML
import Capstone_functions as cf

parser = etree.XMLParser(recover=True)

xtree = etree.parse("data/old_API_id_260200.xml", parser= parser).getroot()

In [3]:
df = cf.df_main(xtree)
df2 = cf.df_poll(xtree, entrypoint="suggested_numplayers")
df3 = cf.df_subnodes(xtree, entrypoint="statistics")
df3.head()

,id,average,user_rated,num_owned,trading,wanting,wishing,numcomments,numweights,averageweight
0,260000,6.80214,143,493,14,7,48,46,2,2.5
1,260001,0,0,0,0,0,0,0,0,0
2,260002,0,0,0,0,0,0,0,0,0
3,260006,9,2,9,0,1,4,1,0,0
4,260009,6.03571,14,47,3,2,29,7,2,2.5