In [51]:
import pandas as pd
import sql_functions as sf
import Capstone_functions as cp

engine = sf.get_engine()
 
schema = "bgg_data"

In [52]:
sql = f'''SELECT * FROM {schema}.marketplace_listings;
      '''
df_marketplace = sf.get_dataframe(sql)

In [53]:
df_marketplace['currency'].unique()
df_marketplace['conv_currency'] = df_marketplace['currency']

In [54]:
currencies_dict_dollar = {
    'GBP': 1.21,
    'EUR': 1.03,
    'CAD': 0.77,
    'USD': 1,
    'AUD': 0.68
}

In [55]:
df_marketplace.replace({'conv_currency': currencies_dict_dollar},inplace=True)

In [56]:
df_marketplace['price_in_dollars'] = df_marketplace['price'] * df_marketplace['conv_currency']

In [57]:
df_marketplace

,id,listdate,price,currency,condition,conv_currency,price_in_dollars
0,98443,2018-08-27,50.00,GBP,verygood,1.21,60.5000
1,98443,2019-03-25,115.00,EUR,likenew,1.03,118.4500
2,98443,2019-08-25,110.00,EUR,likenew,1.03,113.3000
3,98443,2020-03-06,150.00,USD,verygood,1.00,150.0000
4,98443,2020-12-24,60.00,EUR,verygood,1.03,61.8000
...,...,...,...,...,...,...,...
241552,298166,2021-08-07,10.00,USD,new,1.00,10.0000
241553,298173,2022-01-30,5.00,EUR,verygood,1.03,5.1500
241554,298175,2020-08-08,34.00,EUR,new,1.03,35.0200
241555,298175,2020-11-03,33.99,EUR,new,1.03,35.0097
241556,298190,2022-06-27,22.95,EUR,new,1.03,23.6385

In [58]:
sf.build_table(engine=engine,table_name="marketplace_listings",dataframe=df_marketplace,schema=schema)

The marketplace_listings table was imported successfully.

In [61]:
df_conversion_rates = pd.DataFrame(currencies_dict_dollar.items())

In [63]:
df_conversion_rates.columns = ['f_currency','exchange_rate']

In [65]:
df_conversion_rates

  f_currency  exchange_rate
0        GBP           1.21
1        EUR           1.03
2        CAD           0.77
3        USD           1.00
4        AUD           0.68

In [67]:
sf.build_table(engine=engine,table_name="conversion_rates",dataframe=df_conversion_rates,schema=schema)

The conversion_rates table was imported successfully.