# Early Data-Cleaning BGG Boardgame Data

First step is to import all modules and set up schemas and tables

In [ ]:
import pandas as pd
import sql_functions as sf

engine = sf.get_engine()
 
schema = "bgg_data"

# Unique Artists

In [ ]:
table= "artist"

query = f'SELECT * FROM {schema}.{table};'

df_artist = sf.get_dataframe(query)

In [ ]:
df_artist.drop(columns=["id"],inplace=True)

In [ ]:
df_artist.drop_duplicates(inplace=True)

In [ ]:
df_artist.info()

In [ ]:
sf.build_table(engine=engine,table_name="unique_artists",dataframe=df_artist,schema=schema)

# Unique categories

In [ ]:
table="category"
query = f'SELECT * FROM {schema}.{table};'
df_cat = sf.get_dataframe(query)

In [ ]:
df_cat.drop(columns=["id"],inplace=True)

In [ ]:
df_cat.drop_duplicates(inplace=True)

In [ ]:
df_cat

In [ ]:
sf.build_table(engine=engine,table_name="unique_category",dataframe=df_cat,schema=schema)

# Unique Designer

In [ ]:
table="designer"
query = f'SELECT * FROM {schema}.{table};'
df_designer = sf.get_dataframe(query)

In [ ]:
df_designer.drop(columns=["id"],inplace=True)
df_designer.drop_duplicates(inplace=True)

In [ ]:
df_designer

In [ ]:
sf.build_table(engine=engine,table_name="unique_designer",dataframe=df_designer,schema=schema)

# Unique families

In [ ]:
table="family"
query = f'SELECT * FROM {schema}.{table};'
df_family = sf.get_dataframe(query)

In [ ]:
df_family.drop(columns=["id"],inplace=True)
df_family.drop_duplicates(inplace=True)

In [ ]:
df_family

In [ ]:
sf.build_table(engine=engine,table_name="unique_family",dataframe=df_family,schema=schema)

# Unique Implementations

In [ ]:
table="implementation"
query = f'SELECT * FROM {schema}.{table};'
df_impl = sf.get_dataframe(query)

In [ ]:
df_impl.drop(columns=["id"],inplace=True)
df_impl.drop_duplicates(inplace=True)

In [ ]:
df_impl

In [ ]:
sf.build_table(engine=engine,table_name="unique_implementation",dataframe=df_impl,schema=schema)

# Unique Mechanics

In [ ]:
table="mechanics"
query = f'SELECT * FROM {schema}.{table};'
df_mech = sf.get_dataframe(query)

In [ ]:
df_mech.drop(columns=["id"],inplace=True)
df_mech.drop_duplicates(inplace=True)

In [ ]:
df_mech

In [ ]:
sf.build_table(engine=engine,table_name=f"unique_{table}",dataframe=df_mech,schema=schema)

# Unique Publisher

In [ ]:
table="publisher"
query = f'SELECT * FROM {schema}.{table};'
df_publ = sf.get_dataframe(query)

In [ ]:
df_publ.drop(columns=["id"],inplace=True)
df_publ.drop_duplicates(inplace=True)

In [ ]:
df_publ

In [ ]:
sf.build_table(engine=engine,table_name=f"unique_{table}",dataframe=df_publ,schema=schema)

# Unique Subdomain

In [ ]:
table="subdomain"
query = f'SELECT * FROM {schema}.{table};'
df_subdom = sf.get_dataframe(query)

In [ ]:
df_subdom.drop(columns=["id"],inplace=True)
df_subdom.drop_duplicates(inplace=True)

In [ ]:
df_subdom

In [ ]:
sf.build_table(engine=engine,table_name=f"unique_{table}",dataframe=df_subdom,schema=schema)

# Unique Videogames

In [ ]:
table="videogames"
query = f'SELECT * FROM {schema}.{table};'
df_video = sf.get_dataframe(query)

In [ ]:
df_video.drop(columns=["id"],inplace=True)
df_video.drop_duplicates(inplace=True)

In [ ]:
df_video

In [ ]:
sf.build_table(engine=engine,table_name=f"unique_{table}",dataframe=df_video,schema=schema)

# Check if everything is correct

In [78]:
query = f'''SELECT id, ar.cat_id, ua.cat_name  
FROM {schema}.artist ar
INNER JOIN {schema}.unique_artists ua 
ON ar.cat_id = ua.cat_id; '''


display(sf.get_dataframe(query))

           id  cat_id                     cat_name
0       98401   42353                  Sean Howard
1       98402   40734                    Peke (ぺけ)
2       98416   26845           Francis Bretaudeau
3       98430       3                 (Uncredited)
4       98436       3                 (Uncredited)
...       ...     ...                          ...
98385  298175   28060                  Lar DeSouza
98386  298191  123860  Francisco de la Riva Agüero
98387  298195   77084             Alexandr Elichev
98388  298195   78961             Josh T. McDowell
98389  298195   84269                 Alvaro Nebot

[98390 rows x 3 columns]