In [30]:
from sql_functions import get_dataframe
import pandas as pd
import re

In [34]:
schema_bgg = "bgg_data"
schema_ks = "kickstarter_bg"
table_bgg = "game_names"
table_ks = "boardgames"
table_main = "main"

df_bgg = get_dataframe(f"SELECT * FROM {schema_bgg}.{table_bgg}")
df_ks = get_dataframe(f"SELECT * FROM {schema_ks}.{table_ks}")
df_main = get_dataframe(f"SELECT * FROM {schema_bgg}.{table_main}")

In [36]:
merge_main_name = pd.merge(df_bgg, df_main, how="inner", on="id")

In [47]:
df_main

,id,yearpublished,min_players,max_players,playtime,min_playtime,max_playtime,min_age
0,98401,2010,2,4,30,30,30,10
1,98402,2011,2,5,30,30,30,8
2,98406,2011,2,4,30,30,30,10
3,98416,2007,2,4,50,50,50,8
4,98417,2009,2,2,60,60,60,12
...,...,...,...,...,...,...,...,...
137148,298189,2020,3,7,120,30,120,7
137149,298190,2020,3,6,30,30,30,12
137150,298191,2022,2,5,80,30,80,8
137151,298193,2020,2,6,20,10,20,10
137152,298195,2020,1,4,120,60,120,14

In [48]:
df_bgg

,id,game_name,primary_bool
0,98400,piclings,1
1,98401,unlocked,1
2,98402,le_pâtissier,1
3,98403,backswords_bucklers_book_one_basic_rules,1
4,98404,battletechnology_issue_13_yearend_3049,1
...,...,...,...
433510,298195,gloomhaven_return_of_the_lost_cabal_promo_scen...,1
433511,298196,the_secret_frequency_files,1
433512,298197,ascensions_landscape_setting_refinements_and_s...,1
433513,298198,bordeaux_the_court,1
433514,298199,tyne_and_wear_nocturnal_encounters,1

In [38]:
df_bgg['game_name'] =  df_bgg['game_name'].str.findall(r'\w|\s').str.join('').str.replace(r"\s+","_").str.lower()
df_ks['name'] =  df_ks['name'].str.findall(r'\w|\s').str.join('').str.replace(r"\s+","_").str.lower()
merge_main_name['game_name'] = df_bgg['game_name'].str.findall(r'\w|\s').str.join('').str.replace(r"\s+","_").str.lower()

/var/folders/4q/cl23pkln7hj7tnvr0yw_yhkw0000gn/T/ipykernel_1883/1772804139.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_bgg['game_name'] =  df_bgg['game_name'].str.findall(r'\w|\s').str.join('').str.replace(r"\s+","_").str.lower()
/var/folders/4q/cl23pkln7hj7tnvr0yw_yhkw0000gn/T/ipykernel_1883/1772804139.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_ks['name'] =  df_ks['name'].str.findall(r'\w|\s').str.join('').str.replace(r"\s+","_").str.lower()
/var/folders/4q/cl23pkln7hj7tnvr0yw_yhkw0000gn/T/ipykernel_1883/1772804139.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  merge_main_name['game_name'] = df_bgg['game_name'].str.findall(r'\w|\s').str.join('').str.replace(r"\s+","_").str.lower()

In [33]:
df_ks.head()

,name,goal,pledged,state,slug,country,country_displayable_name,currency,deadline,created_at,launched_at,backers_count,usd_pledged,current_currency,creator_id,creator_name,category_id,category_name,category_analytics_name,category_slug
0,dice_tower180,1000,6112.00,successful,dice-tower-180,US,None,USD,1540796340,1533646471,1538334273,96,6112.0,USD,917427816,Carvin Games,34,Tabletop Games,None,games/tabletop games
1,retro_scifi_character_sheets_dd5e,25,75.29,successful,retro-sci-fi-character-sheets-dandd5e,CA,None,CAD,1546005600,1542659343,1544796003,24,56.3611182416,USD,1597415223,Orcansee Game Works,34,Tabletop Games,None,games/tabletop games
2,hållbara_hushållet_ett_samarbetsspel_om_att_nå...,20000,21699.71,successful,hallbara-hushallet-ett-samarbetsspel-om-att-na...,SE,None,SEK,1541891100,1536821685,1539581013,83,2421.3562814283,USD,540613944,Gaard Games,34,Tabletop Games,None,games/tabletop games
3,upstaged_the_board_game_with_a_twist,5000,3356.00,live,upstaged-the-board-game-with-a-twist,US,None,USD,1558677600,1552547316,1555423290,127,3356.0,USD,486901707,Koalatie Games,34,Tabletop Games,None,games/tabletop games
4,antietam_1862,5500,24523.00,successful,antietam-1862,US,None,USD,1544923800,1541445491,1542238025,281,24523.0,USD,1456271622,Worthington Publishing,34,Tabletop Games,None,games/tabletop games

In [42]:
df_ks = df_ks.rename(columns={"name": "game_name"})

In [43]:
df_ks

,game_name,goal,pledged,state,slug,country,country_displayable_name,currency,deadline,created_at,launched_at,backers_count,usd_pledged,current_currency,creator_id,creator_name,category_id,category_name,category_analytics_name,category_slug
0,dice_tower180,1000,6112.00,successful,dice-tower-180,US,None,USD,1540796340,1533646471,1538334273,96,6112.0,USD,917427816,Carvin Games,34,Tabletop Games,None,games/tabletop games
1,retro_scifi_character_sheets_dd5e,25,75.29,successful,retro-sci-fi-character-sheets-dandd5e,CA,None,CAD,1546005600,1542659343,1544796003,24,56.3611182416,USD,1597415223,Orcansee Game Works,34,Tabletop Games,None,games/tabletop games
2,hållbara_hushållet_ett_samarbetsspel_om_att_nå...,20000,21699.71,successful,hallbara-hushallet-ett-samarbetsspel-om-att-na...,SE,None,SEK,1541891100,1536821685,1539581013,83,2421.3562814283,USD,540613944,Gaard Games,34,Tabletop Games,None,games/tabletop games
3,upstaged_the_board_game_with_a_twist,5000,3356.00,live,upstaged-the-board-game-with-a-twist,US,None,USD,1558677600,1552547316,1555423290,127,3356.0,USD,486901707,Koalatie Games,34,Tabletop Games,None,games/tabletop games
4,antietam_1862,5500,24523.00,successful,antietam-1862,US,None,USD,1544923800,1541445491,1542238025,281,24523.0,USD,1456271622,Worthington Publishing,34,Tabletop Games,None,games/tabletop games
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260654,wyrmwood_dice_trays_dice_vaults_for_warmachine...,10000,26579.00,live,wyrmwood-dice-trays-and-dice-vaults-for-warmac...,US,None,USD,1452782898,1444602840,1450190898,164,26579.0,None,754081504,Wyrmwood Gaming,34,Tabletop Games,None,games/tabletop games
260655,heroes_of_normandie_strategic_resupply,40000,162162.00,live,heroes-of-normandie-strategic-resupply,FR,None,EUR,1450465200,1447843500,1448384036,1622,172088.95115412,None,1538673930,Devil Pig Games,34,Tabletop Games,None,games/tabletop games
260656,bay_area_regional_planner,500,8206.00,live,bay-area-regional-planner,US,None,USD,1451026800,1449387917,1449393242,138,8206.0,None,1700980409,Alfred,34,Tabletop Games,None,games/tabletop games
260657,gg_an_addictive_15_min_strategy_card_game,4000,16391.00,live,gg-an-addictive-strategy-card-battle-game,US,None,USD,1452452479,1448529194,1448996479,569,16391.0,None,1473560159,Gizco International,34,Tabletop Games,None,games/tabletop games
260658,the_sky_is_the_limit,2500,236.00,live,the-sky-is-the-limit,NL,None,EUR,1452549541,1443125024,1449957541,9,257.99427016,None,1775720753,Luden's Lab,34,Tabletop Games,None,games/tabletop games

In [44]:
df_merged_main = pd.merge(merge_main_name, df_ks, how="inner", on="game_name")

In [45]:
df_merged_main["game_name"].nunique()

2865

In [46]:
df_merged_main

,id,game_name,primary_bool,yearpublished,min_players,max_players,playtime,min_playtime,max_playtime,min_age,...,launched_at,backers_count,usd_pledged,current_currency,creator_id,creator_name,category_id,category_name,category_analytics_name,category_slug
0,98474,9_lives,1,1988,2,2,15,15,15,7,...,1549025998,131,11438.07476364,USD,1085421202,Marlie Darmawan,34,Tabletop Games,None,games/tabletop games
1,98474,9_lives,1,1988,2,2,15,15,15,7,...,1549025998,131,11438.07476364,USD,1085421202,Marlie Darmawan,34,Tabletop Games,None,games/tabletop games
2,98525,dark_horse,1,1998,2,4,30,30,30,6,...,1304797749,148,9696.03,USD,459844344,Knight Works,34,Tabletop Games,None,games/tabletop games
3,98525,dark_horse,1,1998,2,4,30,30,30,6,...,1304797749,148,9696.03,USD,459844344,Knight Works,34,Tabletop Games,None,games/tabletop games
4,98525,dark_horse,1,1998,2,4,30,30,30,6,...,1304797749,148,9696.03,None,459844344,Knight Works,34,Tabletop Games,None,games/tabletop games
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37267,218334,pulp_detective,1,2017,2,5,150,90,150,14,...,1517464195,3517,119298.0,USD,327216273,AV Studio Games - LudiBooster,34,Tabletop Games,None,games/tabletop games
37268,218334,pulp_detective,1,2017,2,5,150,90,150,14,...,1517464195,1689,57176.0,USD,327216273,AV Studio Games - LudiBooster,34,Tabletop Games,None,games/tabletop games
37269,218334,pulp_detective,1,2017,2,5,150,90,150,14,...,1517464195,1689,57176.0,USD,327216273,AV Studio Games - LudiBooster,34,Tabletop Games,None,games/tabletop games
37270,218334,pulp_detective,1,2017,2,5,150,90,150,14,...,1517464195,3517,119298.0,USD,327216273,AV Studio Games - LudiBooster,34,Tabletop Games,None,games/tabletop games
37271,218334,pulp_detective,1,2017,2,5,150,90,150,14,...,1517464195,3517,119298.0,USD,327216273,AV Studio Games - LudiBooster,34,Tabletop Games,None,games/tabletop games