In [1]:
import pandas as pd
import sql_functions as sf

engine = sf.get_engine()
 
schema = "bgg_data"

In [2]:
sql = f'''SELECT * FROM {schema}.family_bgg;
      '''
df = sf.get_dataframe(sql)

In [3]:
mask = df['family_type'] == 'Crowdfunding'
df.loc[mask, 'family_value'].value_counts()

Series([], Name: family_value, dtype: int64)

In [4]:
df['family_value'] = df['family_value'].str.strip().str.lower()
df['family_type'] = df['family_type'].str.strip().str.lower()

In [5]:
df

Empty DataFrame
Columns: [id, cat_id, family_type, family_value]
Index: []

In [25]:
sf.build_table(engine=engine,table_name="family_bgg",dataframe=df,schema=schema)

KeyboardInterrupt:

In [ ]:
sql = f'''SELECT * FROM {schema}.implementation;
      '''
df = sf.get_dataframe(sql)

In [ ]:
df['implementation'] = df['implementation'].str.strip().str.lower()
df['implementation_type'] = df['implementation_type'].str.strip().str.lower()

In [ ]:
sf.build_table(engine=engine,table_name="implementation",dataframe=df,schema=schema)

The implementation table was imported successfully.

In [ ]:
sql = f'''SELECT * FROM {schema}.unique_mechanics;
      '''
df = sf.get_dataframe(sql)

In [ ]:
df['cat_name'] = df['cat_name'].str.strip().str.lower()

In [ ]:
df.columns = ['mechanic_id','mechanic']

In [ ]:
df

     mechanic_id               mechanic
0           2040        hand management
1           2041          open drafting
2           2048       pattern building
3           2007    pick-up and deliver
4           2002         tile placement
..           ...                    ...
185         3099        multi-use cards
186         3097         bids as wagers
187         3098   auction compensation
188         3102  questions and answers
189         3104         neighbor scope

[190 rows x 2 columns]

In [ ]:
sf.build_table(engine=engine,table_name="unique_mechanics",dataframe=df,schema=schema)

The unique_mechanics table was imported successfully.

In [ ]:
sql = f'''SELECT * FROM {schema}.unique_category;
      '''
df = sf.get_dataframe(sql)

In [ ]:
df

    cat_id                    cat_name
0     1009           Abstract Strategy
1     1023                    Bluffing
2     1002                   Card Game
3     1028                      Puzzle
4     1086          Territory Building
..     ...                         ...
80    1075  American Revolutionary War
81    1108        American Indian Wars
82    1052                     Arabian
83    1119                 Game System
84    1120                 Print  Play

[85 rows x 2 columns]

In [ ]:
df['cat_name'] = df['cat_name'].str.strip().str.lower()

In [ ]:
sf.build_table(engine=engine,table_name="unique_category",dataframe=df,schema=schema)

The unique_category table was imported successfully.

In [ ]:
sql = f'''SELECT * FROM {schema}.unique_designer;
      '''
df = sf.get_dataframe(sql)

In [ ]:
df['cat_name'] = df['cat_name'].str.strip()
df.columns = ['designer_id','designer']

In [ ]:
df

       designer_id                    designer
0            42353                 Sean Howard
1            28161              Kenichi Tanabe
2            35005        Vangelis Bagiartakis
3            26845          Francis Bretaudeau
4                3                (Uncredited)
...            ...                         ...
35060       123647           Elliot Kruszynski
35061       123548           David M Palmquist
35062       123549  Joyce Stallfort Williamson
35063       123709       Carlos Guevara Moscol
35064       123707        David Vilchez García

[35065 rows x 2 columns]

In [ ]:
sf.build_table(engine=engine,table_name="unique_designer",dataframe=df,schema=schema)

The unique_designer table was imported successfully.