In [2]:
import pandas as pd
import Capstone_functions as cf
import sql_functions as sf
import capstone_json_functions as cjf
import numpy as np

Get the Dataframe from the table on the postgres server

In [4]:
query = f"SELECT * FROM bgg_data.kickstarter_raw"
df = sf.get_dataframe(query)

Convert "usd_pledged" from str to float

In [5]:
df.usd_pledged = df.usd_pledged.astype(float)

Build new column named "conversion rate"

In [6]:
df["conversion_rate"] = df.usd_pledged / df.pledged

In [17]:
df["conversion_rate"].fillna(1,inplace=True)

Convert "Goal" to "usd_goal"

In [18]:
df["usd_goal"] = df.goal*df.conversion_rate

Round the usd_goal to zero decimals

In [19]:
df.usd_goal = df.usd_goal.round(0)

In [25]:
df.loc[df["slug"] == 'goat-dice-changing-the-way-we-roll']

,game_name,goal,pledged,state,slug,country,currency,deadline,created_at,launched_at,backers_count,usd_pledged,creator_name,state_changed_at,conversion_rate,usd_goal
18993,goat_dice_changing_the_way_we_roll,200,163830.5,live,goat-dice-changing-the-way-we-roll,US,USD,2019-11-15 03:00:00,2019-10-04 02:36:12,2019-10-15 12:58:59,2832,163830.5,James,2019-10-15 12:58:59,1.0,200.0
19064,goat_dice_changing_the_way_we_roll,200,163930.5,live,goat-dice-changing-the-way-we-roll,US,USD,2019-11-15 03:00:00,2019-10-04 02:36:12,2019-10-15 12:58:59,2833,163930.5,James,2019-10-15 12:58:59,1.0,200.0
40791,goat_dice_changing_the_way_we_roll,200,230260.5,live,goat-dice-changing-the-way-we-roll,US,USD,2019-11-15 03:00:00,2019-10-04 02:36:12,2019-10-15 12:58:59,3884,230260.5,James,2019-10-15 12:58:59,1.0,200.0
41009,goat_dice_changing_the_way_we_roll,200,230348.5,live,goat-dice-changing-the-way-we-roll,US,USD,2019-11-15 03:00:00,2019-10-04 02:36:12,2019-10-15 12:58:59,3890,230348.5,James,2019-10-15 12:58:59,1.0,200.0