In [1]:
import pandas as pd
import sql_functions as sf

engine = sf.get_engine()
 
schema = "bgg_data"

In [21]:
sql = f'''SELECT * FROM {schema}.unique_slug_bgg_id;
      '''
df_bgg_ks = sf.get_dataframe(sql)

In [22]:
sql = f'''SELECT * FROM {schema}.kickstarter_raw;
      '''
df = sf.get_dataframe(sql)

In [9]:
df['successful'] = df['state'] == 'successful'

In [10]:
df

,game_name,goal,pledged,state,slug,country,currency,deadline,created_at,launched_at,backers_count,usd_pledged,creator_name,state_changed_at,successful
0,dice_tower180,1000,6112.00,successful,dice-tower-180,US,USD,2018-10-29 06:59:00,2018-08-07 12:54:31,2018-09-30 19:04:33,96,6112.00,Carvin Games,2018-10-29 06:59:00,True
1,retro_scifi_character_sheets_dd5e,25,75.29,successful,retro-sci-fi-character-sheets-dandd5e,CA,CAD,2018-12-28 14:00:00,2018-11-19 20:29:03,2018-12-14 14:00:03,24,56.36,Orcansee Game Works,2018-12-28 14:00:00,True
2,hållbara_hushållet_ett_samarbetsspel_om_att_nå...,20000,21699.71,successful,hallbara-hushallet-ett-samarbetsspel-om-att-na...,SE,SEK,2018-11-10 23:05:00,2018-09-13 06:54:45,2018-10-15 05:23:33,83,2421.36,Gaard Games,2018-11-10 23:05:00,True
3,upstaged_the_board_game_with_a_twist,5000,3356.00,live,upstaged-the-board-game-with-a-twist,US,USD,2019-05-24 06:00:00,2019-03-14 07:08:36,2019-04-16 14:01:30,127,3356.00,Koalatie Games,2019-04-16 14:01:30,False
4,antietam_1862,5500,24523.00,successful,antietam-1862,US,USD,2018-12-16 01:30:00,2018-11-05 19:18:11,2018-11-14 23:27:05,281,24523.00,Worthington Publishing,2018-12-16 01:30:00,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41970,wyrmwood_dice_trays_dice_vaults_for_warmachine...,10000,26579.00,live,wyrmwood-dice-trays-and-dice-vaults-for-warmac...,US,USD,2016-01-14 14:48:18,2015-10-11 22:34:00,2015-12-15 14:48:18,164,26579.00,Wyrmwood Gaming,2015-12-15 14:48:18,False
41971,heroes_of_normandie_strategic_resupply,40000,162162.00,live,heroes-of-normandie-strategic-resupply,FR,EUR,2015-12-18 19:00:00,2015-11-18 10:45:00,2015-11-24 16:53:56,1622,172088.95,Devil Pig Games,2015-11-24 16:53:56,False
41972,bay_area_regional_planner,500,8206.00,live,bay-area-regional-planner,US,USD,2015-12-25 07:00:00,2015-12-06 07:45:17,2015-12-06 09:14:02,138,8206.00,Alfred,2015-12-06 09:14:02,False
41973,gg_an_addictive_15_min_strategy_card_game,4000,16391.00,live,gg-an-addictive-strategy-card-battle-game,US,USD,2016-01-10 19:01:19,2015-11-26 09:13:14,2015-12-01 19:01:19,569,16391.00,Gizco International,2015-12-01 19:01:19,False
41974,the_sky_is_the_limit,2500,236.00,live,the-sky-is-the-limit,NL,EUR,2016-01-11 21:59:01,2015-09-24 20:03:44,2015-12-12 21:59:01,9,257.99,Luden's Lab,2015-12-12 21:59:01,False

In [12]:
df_filtered = df.groupby('slug').max('state_changed_at')

In [15]:
df_filtered = df_filtered.reset_index()

In [19]:
mask = df_filtered['slug'] == 'f-life-a-card-game-about-adulthood'

In [20]:
df_filtered.loc[mask,:]

,slug,goal,pledged,backers_count,usd_pledged,successful
8260,f-life-a-card-game-about-adulthood,20000,528.0,18,528.0,False

In [18]:
df_filtered

,slug,goal,pledged,backers_count,usd_pledged,successful
0,0-hr-starship-maps-and-miniatures,1800,9934.00,108,9934.00,True
1,0-hr-tri-toad-poster-and-starship-sale,2000,10625.00,227,10625.00,True
2,1-48tactic-cards-only,950,7861.00,104,8828.77,True
3,1-48tactic-cards-only-ww2-skirmish-game-gets-n...,2500,12330.32,78,14491.09,True
4,1-48tactic-cards-only-ww2-skirmish-gaming-goes...,9500,6266.00,38,7290.93,False
...,...,...,...,...,...,...
26116,zweihander-grim-and-perilous-rpg,7100,61743.00,1265,61743.00,True
26117,zweihander-rpg-starter-kit,10000,82119.00,1460,82119.00,True
26118,zynvaded-evo,7700,8499.00,81,8499.00,True
26119,zynvaded-evo-presents-dont-let-the-zed-bugz-bite,1000,5156.00,39,5156.00,True
26120,zzarchovs-adventure-omnibus-volume-2,2500,25846.29,212,19252.79,True

In [42]:
df_filtered.describe()

               goal       pledged  backers_count   usd_pledged
count  2.612100e+04  2.612100e+04   26121.000000  2.612100e+04
mean   1.602695e+04  6.712482e+04     664.508327  5.183021e+04
std    9.439057e+04  4.788584e+05    2566.244408  2.756112e+05
min    1.000000e+00  0.000000e+00       0.000000  0.000000e+00
25%    1.000000e+03  1.839000e+03      49.000000  1.824000e+03
50%    5.000000e+03  6.825000e+03     156.000000  6.675000e+03
75%    1.250000e+04  2.472000e+04     479.000000  2.343429e+04
max    8.547100e+06  3.202978e+07  219382.000000  1.296961e+07

In [43]:
df_filtered.sort_values('usd_pledged',ascending=False)

,slug,goal,pledged,backers_count,usd_pledged,successful
9321,frosthaven,500000,12969608.00,83193,12969608.00,True
12321,kingdom-death-monster-15,100000,12393139.69,19264,12393139.69,True
13712,marvel-zombies-zombicide,500000,9032583.00,28974,9032583.00,True
14445,modular-gaming-table,1000000,8808136.00,7983,8808136.00,True
8216,exploding-kittens,10000,8782571.99,219382,8782571.99,True
...,...,...,...,...,...,...
22459,the-mist-of-tribunal-a-card-game,10000,0.00,0,0.00,False
12878,lemonade-warz,2500,0.00,0,0.00,False
307,28mm-ready-made-bases-for-mantics-fantasy-king...,300,0.00,0,0.00,False
25217,westboroughopoly,3000,0.00,0,0.00,False
6114,demolition-city,500,0.00,0,0.00,False

In [26]:
df_merged =  pd.merge(df_bgg_ks,df_filtered,on='slug')

In [27]:
df_merged.nunique()

slug             4520
bgg_id           4405
goal              449
pledged          4351
backers_count    1854
usd_pledged      4422
successful          2
dtype: int64

In [34]:
df_merged.groupby('bgg_id').count()['slug'].sort_values(ascending=False)

bgg_id
331754    3
246267    2
200811    2
292364    2
319271    2
         ..
208377    1
208512    1
208543    1
208568    1
365503    1
Name: slug, Length: 4405, dtype: int64

In [41]:
mask = df_merged['bgg_id'] == 331754
df_merged.loc[mask,:]

,slug,bgg_id,goal,pledged,backers_count,usd_pledged,successful
2677,f-life-a-card-game-about-adulthood-1,331754,10000,10621.0,131,10621.0,True
2678,f-life-a-card-game-about-adulthood,331754,20000,528.0,18,528.0,False
2679,f-life-a-card-game-about-adulthood-0,331754,16000,1920.0,60,1920.0,False

In [40]:
df_merged.head(50)

,slug,bgg_id,goal,pledged,backers_count,usd_pledged,successful
0,2kings,319727,15000,3431.00,112,4060.16,False
1,9-lives,267618,13512,18021.00,175,13385.64,True
2,adorable-monsters-0,231388,250,2985.00,92,2985.00,True
3,aftermath-5,231388,10000,229.00,8,229.00,False
4,alibi,209538,5400,5710.69,84,5710.69,True
5,aurora-2,134567,4000,5619.00,110,5619.00,True
6,baby-blues,348554,1000,2871.00,195,2871.00,True
7,battle-of-thermopylae,204003,900,8834.00,419,10105.01,True
8,bingo-dice,217430,2400,579.00,19,666.70,False
9,black-swan-0,301946,30000,62742.00,447,70128.96,True
10,cabal,255928,500,4376.00,543,5331.49,True
11,cancan,284646,8000,8463.50,97,8463.50,True
12,cash,290236,7500,369.00,12,292.73,False
13,catacombs-0,150485,40000,233771.59,2230,210531.26,True
14,charge,331747,5000,263.00,15,293.22,False
15,conan,264982,80000,3327757.00,16038,3327757.00,True
16,conspiracy-theory,176306,30000,36522.14,1038,36522.14,True
17,crack-the-code,197944,5000,10352.00,426,10352.00,True
18,crimes-in-history-h-h-holmes-murder-castle,266937,27663,63244.00,1066,63244.00,True
19,cube-0,250442,3000,125.00,6,125.00,False
20,cursed-0,329002,1000,1697.00,70,1697.00,True
21,dear-leader,98443,12000,22052.22,450,22052.22,True
22,dice-towers,173059,1000,22968.00,448,22968.00,True
23,dilemma,325491,100000,3510.00,14,402.63,False
24,dive-1,221194,6000,26801.00,948,26801.00,True
25,domination,158435,40000,76607.00,1187,94600.84,True
26,dragons-hoard,157083,10000,54950.00,1742,54950.00,True
27,dungeon-escape,310636,30000,208.00,10,208.00,False
28,dynamite,193483,7800,1710.00,50,1710.00,False
29,elevator-0,191199,6500,1546.00,43,1546.00,False
30,endangered-1,220133,400,482.00,22,482.00,True
31,exploration,155703,38560,8053.00,140,8053.00,False
32,face-to-face,233673,8500,8820.00,56,8820.00,True
33,filibuster-0,229836,5500,8556.00,168,8556.00,True
34,four-2,184672,5000,121.00,13,135.44,False
35,freedom-4,348303,20000,30670.00,751,40462.92,True
36,galaxy-command,197443,4000,12058.00,359,12058.00,True
37,giant-0,282475,1000,5029.00,48,5029.00,True
38,give-and-take-0,254498,20000,175.00,7,175.00,False
39,glory-0,229714,15000,32014.29,508,24035.65,True
40,glyph-1,226835,24500,35703.00,490,35703.00,True
41,greed,317118,5000,26208.00,822,26208.00,True
42,gulp,256317,7000,10920.00,343,10920.00,True
43,hammers-and-anvils,290795,7500,1021.00,61,1021.00,False
44,high-noon-reloaded,274442,60000,122405.00,780,122405.00,True
45,historia,254888,7000,74635.50,1001,74635.50,True
46,hyperspace,318185,50000,609763.00,3222,609763.00,True
47,import-export,348602,6800,70246.00,1015,70246.00,True
48,inferno-4,207310,5000,981.32,16,755.91,False
49,jabberwocky-0,136385,10000,23218.00,681,23218.00,True