In [20]:
import pandas as pd
import sql_functions as sf
import Capstone_functions as cp

engine = sf.get_engine()
 
schema = "bgg_data"

In [9]:
sql = f'''SELECT * FROM {schema}.game_names;
      '''
df_names = sf.get_dataframe(sql)

In [19]:
df_names

,id,game_name,primary_bool
0,98400,Piclings,1
1,98401,UNLOCKED,1
2,98402,Le Pâtissier,1
3,98403,Backswords & Bucklers: Book One – Basic Rules,1
4,98404,BattleTechnology (Issue 13 - Year-End 3049),1
...,...,...,...
433510,298195,Gloomhaven: Return of the Lost Cabal (Promo Sc...,1
433511,298196,The Secret Frequency Files,1
433512,298197,Ascension's Landscape: Setting Refinements and...,1
433513,298198,Bordeaux: The Court,1
433514,298199,Tyne and Wear: Nocturnal Encounters,1

In [13]:
sql = f'''SELECT * FROM {schema}.main;
      '''
df_main = sf.get_dataframe(sql)

In [14]:
liste_main = df_main['id']

In [17]:
mask = df_names['id'].isin(liste_main)

In [22]:
df_game_names = df_names.loc[mask,:]

In [23]:
df_game_names = cp.rename_game_names(df_game_names)

/Users/salvatore/neuefische/capstone-project/Daily-Lama-Capstone/Capstone_functions.py:143: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column_name] =  df[column_name].str.findall(r'\w|\s').str.join('').str.replace(r"\s+","_").str.lower()
/Users/salvatore/neuefische/capstone-project/Daily-Lama-Capstone/Capstone_functions.py:143: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] =  df[column_name].str.findall(r'\w|\s').str.join('').str.replace(r"\s+","_").str.lower()

In [24]:
df_game_names

,id,game_name,primary_bool
1,98401,unlocked,1
2,98402,le_pâtissier,1
6,98406,summer_camp,0
7,98406,κατασκήνωση_στα_μέτρα_σου,1
12,98416,planet_raiders,1
...,...,...,...
433505,298189,rhetorical_oracle,1
433506,298190,wwe_headlock_paper_scissors,1
433507,298191,alleycat,1
433509,298193,fox_on_the_run,1
433510,298195,gloomhaven_return_of_the_lost_cabal_promo_scen...,1

In [25]:
sql = f'''SELECT * FROM {schema}.kickstarter_temp;
      '''
df_ks = sf.get_dataframe(sql)

In [26]:
df_ks

,game_name,goal,pledged,state,slug,country,currency,deadline,created_at,launched_at,backers_count,usd_pledged,creator_name,state_changed_at
0,dice_tower180,1000,6112.00,successful,dice-tower-180,US,USD,2018-10-29 06:59:00,2018-08-07 12:54:31,2018-09-30 19:04:33,96,6112.00,Carvin Games,2018-10-29 06:59:00
1,retro_scifi_character_sheets_dd5e,25,75.29,successful,retro-sci-fi-character-sheets-dandd5e,CA,CAD,2018-12-28 14:00:00,2018-11-19 20:29:03,2018-12-14 14:00:03,24,56.36,Orcansee Game Works,2018-12-28 14:00:00
2,hållbara_hushållet_ett_samarbetsspel_om_att_nå...,20000,21699.71,successful,hallbara-hushallet-ett-samarbetsspel-om-att-na...,SE,SEK,2018-11-10 23:05:00,2018-09-13 06:54:45,2018-10-15 05:23:33,83,2421.36,Gaard Games,2018-11-10 23:05:00
3,upstaged_the_board_game_with_a_twist,5000,3356.00,live,upstaged-the-board-game-with-a-twist,US,USD,2019-05-24 06:00:00,2019-03-14 07:08:36,2019-04-16 14:01:30,127,3356.00,Koalatie Games,2019-04-16 14:01:30
4,antietam_1862,5500,24523.00,successful,antietam-1862,US,USD,2018-12-16 01:30:00,2018-11-05 19:18:11,2018-11-14 23:27:05,281,24523.00,Worthington Publishing,2018-12-16 01:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41970,wyrmwood_dice_trays_dice_vaults_for_warmachine...,10000,26579.00,live,wyrmwood-dice-trays-and-dice-vaults-for-warmac...,US,USD,2016-01-14 14:48:18,2015-10-11 22:34:00,2015-12-15 14:48:18,164,26579.00,Wyrmwood Gaming,2015-12-15 14:48:18
41971,heroes_of_normandie_strategic_resupply,40000,162162.00,live,heroes-of-normandie-strategic-resupply,FR,EUR,2015-12-18 19:00:00,2015-11-18 10:45:00,2015-11-24 16:53:56,1622,172088.95,Devil Pig Games,2015-11-24 16:53:56
41972,bay_area_regional_planner,500,8206.00,live,bay-area-regional-planner,US,USD,2015-12-25 07:00:00,2015-12-06 07:45:17,2015-12-06 09:14:02,138,8206.00,Alfred,2015-12-06 09:14:02
41973,gg_an_addictive_15_min_strategy_card_game,4000,16391.00,live,gg-an-addictive-strategy-card-battle-game,US,USD,2016-01-10 19:01:19,2015-11-26 09:13:14,2015-12-01 19:01:19,569,16391.00,Gizco International,2015-12-01 19:01:19
41974,the_sky_is_the_limit,2500,236.00,live,the-sky-is-the-limit,NL,EUR,2016-01-11 21:59:01,2015-09-24 20:03:44,2015-12-12 21:59:01,9,257.99,Luden's Lab,2015-12-12 21:59:01

In [27]:
df_ks_bgg = pd.merge(df_game_names,df_ks,on='game_name')

In [29]:
df_ks_bgg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8817 entries, 0 to 8816
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8817 non-null   int64
 1   game_name         8817 non-null   object
 2   primary_bool      8817 non-null   int64
 3   goal              8817 non-null   int64
 4   pledged           8817 non-null   float64
 5   state             8817 non-null   object
 6   slug              8817 non-null   object
 7   country           8817 non-null   object
 8   currency          8817 non-null   object
 9   deadline          8817 non-null   datetime64[ns]
 10  created_at        8817 non-null   datetime64[ns]
 11  launched_at       8817 non-null   datetime64[ns]
 12  backers_count     8817 non-null   int64
 13  usd_pledged       8817 non-null   float64
 14  creator_name      8817 non-null   object
 15  state_changed_at  8817 non-null   datetime64[ns]
dtypes: datetime64[ns](4), float64(2), int64(4), object(6)
memory usage: 1.1+ MB

In [33]:
df_ks_bgg.rename({'id': 'bgg_id'},inplace=True,axis=1)

In [34]:
df_ks_bgg

,bgg_id,game_name,primary_bool,goal,pledged,state,slug,country,currency,deadline,created_at,launched_at,backers_count,usd_pledged,creator_name,state_changed_at
0,98443,dark_horse,1,8000,9696.03,successful,dark-horse,US,USD,2011-06-21 19:49:09,2011-04-19 01:36:55,2011-05-07 19:49:09,148,9696.03,Knight Works,2011-06-21 19:49:10
1,158356,dark_horse,1,8000,9696.03,successful,dark-horse,US,USD,2011-06-21 19:49:09,2011-04-19 01:36:55,2011-05-07 19:49:09,148,9696.03,Knight Works,2011-06-21 19:49:10
2,173057,go_fish_yourself,1,4000,5500.00,successful,go-fish-yourself,US,USD,2015-03-07 20:19:00,2015-01-24 18:34:20,2015-02-05 20:19:00,52,5500.00,The Go Fish Yourself Team,2015-03-07 20:19:04
3,173058,fakespeare,1,400,2381.00,successful,fakespeare,US,USD,2015-03-02 05:59:00,2015-01-21 21:55:48,2015-02-05 18:15:51,59,2381.00,Emily Smith & Theo Knaeble,2015-03-02 05:59:01
4,173059,politics,1,5000,9148.00,successful,democalypse-clusterfk-to-the-white-house,US,USD,2015-04-06 19:01:00,2015-02-03 04:43:30,2015-02-05 20:01:00,243,9148.00,Andrew Rader,2015-04-06 19:01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8812,298163,dark_venture_battle_of_the_ancients,1,14000,30157.00,live,dark-venture-battle-of-the-ancients,US,USD,2020-11-24 21:00:00,2020-01-07 14:19:11,2020-10-27 14:16:37,483,30157.00,Rob Lemon,2020-10-27 14:16:41
8813,298189,rhetorical_oracle,1,6000,311.00,live,rhetorical-oracle-0,US,USD,2020-02-15 23:00:00,2020-01-04 18:22:27,2020-01-15 11:17:26,8,311.00,Casey Coulter,2020-01-15 11:17:26
8814,298193,fox_on_the_run,1,9600,12101.00,successful,beezarre-games-fox-on-the-run,IT,EUR,2020-07-16 16:01:33,2019-07-04 12:30:35,2020-06-16 16:01:33,298,13630.08,BeeZarre Games,2020-07-16 16:01:33
8815,298193,fox_on_the_run,1,9600,11291.00,live,beezarre-games-fox-on-the-run,IT,EUR,2020-07-16 16:01:33,2019-07-04 12:30:35,2020-06-16 16:01:33,285,12717.73,BeeZarre Games,2020-06-16 16:01:35
8816,298193,fox_on_the_run,1,9600,2879.00,live,beezarre-games-fox-on-the-run,IT,EUR,2020-07-16 16:01:33,2019-07-04 12:30:35,2020-06-16 16:01:33,110,3242.79,BeeZarre Games,2020-06-16 16:01:35

In [35]:
sf.build_table(engine=engine,table_name="kickstarter_bgg",dataframe=df_ks_bgg,schema=schema)

The kickstarter_bgg table was imported successfully.