In [46]:
import pandas as pd
import numpy as np
import json
import os
import Capstone_functions as cf
import capstone_json_functions as cjf
import sql_functions as sf
from pathlib import Path
import re

In [89]:
marketplace_query = f"Select * from bgg_data.marketplace_listings"
df = sf.get_dataframe(marketplace_query)

In [84]:
mask = (df['condition'] == 'new') | ( df['condition'] == 'likenew') | (df["condition"] == "verygood")

In [91]:
df_filter = df.where((df == df))

In [82]:
df_filter.dropna()

,id,listdate,price,currency,condition,conv_currency,price_in_dollars
16,98476.0,2021-03-03,19.99,EUR,new,1.03,20.5897
17,98479.0,2018-10-15,2.50,EUR,new,1.03,2.5750
18,98479.0,2018-10-15,2.50,EUR,new,1.03,2.5750
19,98479.0,2018-10-15,2.50,EUR,new,1.03,2.5750
20,98479.0,2018-10-15,2.50,EUR,new,1.03,2.5750
...,...,...,...,...,...,...,...
241548,298154.0,2022-02-23,50.00,GBP,new,1.21,60.5000
241552,298166.0,2021-08-07,10.00,USD,new,1.00,10.0000
241554,298175.0,2020-08-08,34.00,EUR,new,1.03,35.0200
241555,298175.0,2020-11-03,33.99,EUR,new,1.03,35.0097
241556,298190.0,2022-06-27,22.95,EUR,new,1.03,23.6385

In [52]:
df_avg_prices = df_filter.groupby('id').mean().reset_index()

In [59]:
df_avg_prices["id"] = df_avg_prices["id"].convert_dtypes(convert_integer=True)

In [62]:
df_avg_prices = df_avg_prices[["id","price_in_dollars"]]

In [78]:
df_avg_prices.rename({"avg_price_in_dollar":"avg_price"},axis=1,inplace=True)

/var/folders/kb/wqf78x2d06z43w0nwzbclk3m0000gn/T/ipykernel_1606/4069037966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_avg_prices.rename({"avg_price_in_dollar":"avg_price"},axis=1,inplace=True)

In [79]:
df_avg_prices["avg_price"] = df_avg_prices["avg_price"].round(2)

/var/folders/kb/wqf78x2d06z43w0nwzbclk3m0000gn/T/ipykernel_1606/1031297708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_avg_prices["avg_price"] = df_avg_prices["avg_price"].round(2)

In [80]:
df_avg_prices

           id  avg_price
0           1      82.78
1           3      78.94
2           4      29.46
3           5     127.15
4           6     187.08
...       ...        ...
43933  364780       3.42
43934  364787      36.04
43935  364810      29.00
43936  365073      11.33
43937  365104      34.99

[43938 rows x 2 columns]