In [57]:
import pandas as pd
import numpy as np
import sql_functions as sf
import Capstone_functions as cp
from IPython.display import clear_output

engine = sf.get_engine()
 
schema = "bgg_data"

In [58]:
sql = f'''SELECT * FROM {schema}.main;
      '''
df_main = sf.get_dataframe(sql)

In [59]:
sql = f'''SELECT * FROM {schema}.statistics;
      '''
df_stats = sf.get_dataframe(sql)

In [60]:
sql = f'''SELECT * FROM {schema}.expansions;
      '''
df_expansions = sf.get_dataframe(sql)

In [74]:
sql = f'''SELECT * FROM {schema}.family_bgg; 
      '''
df_family = sf.get_dataframe(sql)

In [85]:
df_family

            id   family_type                family_value  family_id
0        98402         theme              food / cooking       5841
1        98416     creatures  aliens / extraterrestrials       5679
2        98417          game               anima tactics      16800
3        98417       players       two player only games      61979
4        98417       setting              anima universe       1691
...        ...           ...                         ...        ...
209017  298195  crowdfunding                 kickstarter       8374
209018  298195          game                  gloomhaven      45610
209019  298195     mechanism              campaign games      24281
209020  298195     mechanism                      legacy      25404
209021  298195       players  games with solitaire rules       5666

[209022 rows x 4 columns]

In [91]:
mask = df_family['family_value'] == 'kickstarter'

kickstarter_list = df_family.loc[mask,'id']

In [61]:
df_main_stats = pd.merge(df_main,df_stats,on='id')

In [62]:
df_main_stats

,id,yearpublished,min_players,max_players,playtime,min_playtime,max_playtime,min_age,average,user_rated,num_owned,trading,wanting,wishing,numcomments,numweights,averageweight
0,98401,2010,2,4,30,30,30,10,7.08333,3,15,0,1,3,2,2,1.5
1,98402,2011,2,5,30,30,30,8,6.34615,26,20,0,7,13,9,5,2.2
2,98406,2011,2,4,30,30,30,10,6.73333,9,16,3,0,0,3,1,1.0
3,98416,2007,2,4,50,50,50,8,6.80000,2,16,2,1,0,2,1,3.0
4,98417,2009,2,2,60,60,60,12,0.00000,0,10,1,2,2,0,1,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137142,298189,2020,3,7,120,30,120,7,0.00000,0,0,0,0,0,0,0,0.0
137143,298190,2020,3,6,30,30,30,12,6.66667,3,47,2,1,5,4,0,0.0
137144,298191,2022,2,5,80,30,80,8,0.00000,0,5,0,0,0,0,0,0.0
137145,298193,2020,2,6,20,10,20,10,7.38077,26,61,1,0,7,7,2,1.5
137146,298195,2020,1,4,120,60,120,14,6.66667,3,79,1,16,78,6,0,0.0

In [63]:
mask = (df_main_stats['yearpublished'] >= 2022) & (df_main_stats['num_owned'] <100)

df_new_games = df_main_stats.loc[mask,:]

In [64]:
df_new_games = df_new_games.nlargest(50,"wishing")

In [65]:
expansions_list = df_expansions['expansion_id']

In [92]:
df_new_games['expansion'] = df_new_games['id'].isin(expansions_list)

df_new_games['on_kickstarter'] = df_new_games['id'].isin(kickstarter_list)

In [67]:
columns_to_set_nans = ['yearpublished','min_players','max_players','playtime','min_playtime','max_playtime','averageweight']

for column in columns_to_set_nans:
    mask = df_new_games[column] == 0

    df_new_games.loc[mask,column] = np.nan

In [68]:
df_new_games.drop(['playtime','yearpublished'],inplace=True,axis=1)

In [93]:
df_new_games

,id,min_players,max_players,min_playtime,max_playtime,min_age,average,user_rated,num_owned,trading,wanting,wishing,numcomments,numweights,averageweight,expansion,on_kickstarter
51289,299490,2.0,4.0,150.0,150.0,13,9.04000,25,56,0,193,1375,18,0,NaN,True,False
27445,359871,3.0,4.0,60.0,90.0,14,7.21321,107,94,1,100,1336,109,10,2.7000,True,True
129887,360692,1.0,4.0,50.0,100.0,12,7.93627,51,84,1,82,1132,78,11,3.3636,False,True
78158,354934,1.0,1.0,60.0,60.0,12,8.04545,11,1,0,102,1106,16,4,2.5000,False,True
95854,359438,1.0,4.0,75.0,150.0,12,8.28000,14,13,0,142,1065,28,6,3.6667,False,False
24493,329500,1.0,4.0,45.0,90.0,12,9.04857,7,5,0,85,1060,14,0,NaN,False,True
84742,362944,2.0,4.0,90.0,120.0,12,8.83333,12,10,0,116,1050,11,1,3.0000,False,False
109955,275284,1.0,5.0,60.0,60.0,10,7.74231,52,84,0,76,882,89,2,1.5000,True,True
24950,354570,2.0,2.0,45.0,60.0,14,8.12143,14,11,0,116,870,13,3,1.6667,False,False
117384,298231,2.0,4.0,30.0,90.0,14,7.95472,24,55,1,85,844,54,6,1.6667,False,True
94837,359394,2.0,4.0,30.0,30.0,10,9.40000,5,2,1,84,843,12,0,NaN,False,False
83716,234203,2.0,4.0,60.0,120.0,12,5.80909,11,2,0,99,799,22,0,NaN,False,False
111913,296108,NaN,NaN,NaN,NaN,0,6.15795,19,2,0,97,798,13,0,NaN,False,True
54497,299106,1.0,4.0,60.0,180.0,13,8.10000,60,75,1,58,788,71,10,3.3000,False,True
19431,362452,1.0,4.0,30.0,120.0,12,8.08154,13,6,0,109,787,18,1,3.0000,False,False
89051,363369,2.0,4.0,40.0,100.0,12,7.50000,13,8,1,97,773,11,4,2.2500,False,False
38614,317582,1.0,4.0,10.0,9999.0,13,6.54556,18,92,0,56,758,91,0,NaN,False,True
69285,300192,2.0,2.0,35.0,75.0,12,7.34000,15,24,0,105,723,42,3,2.6667,False,False
59936,323232,2.0,4.0,30.0,210.0,8,8.78571,7,13,0,113,719,9,0,NaN,True,False
3919,281474,1.0,4.0,60.0,150.0,14,7.15246,23,47,2,69,705,84,2,2.5000,False,False
75510,361545,1.0,8.0,90.0,120.0,14,8.16667,6,19,0,82,704,13,3,3.0000,False,False
117190,351526,1.0,4.0,60.0,120.0,14,7.27803,66,81,0,79,696,100,11,2.7273,False,True
22785,272175,1.0,4.0,90.0,180.0,18,9.50444,5,2,0,33,669,15,3,3.6667,False,False
78843,210206,NaN,NaN,60.0,90.0,14,7.75000,2,2,0,55,649,20,0,NaN,False,True
38573,317511,1.0,4.0,45.0,120.0,13,8.56824,127,54,0,38,644,112,15,3.8000,False,False
15159,348554,1.0,4.0,90.0,150.0,14,7.43589,85,85,0,60,642,89,14,3.3571,False,True
36067,364186,2.0,4.0,60.0,90.0,12,5.97000,10,7,0,67,632,11,0,NaN,False,False
45339,322816,1.0,7.0,30.0,210.0,12,8.00000,4,22,0,106,616,19,0,NaN,True,False
36015,364011,1.0,4.0,75.0,150.0,12,9.17143,7,12,0,69,615,8,3,3.6667,False,False
79207,358854,1.0,5.0,40.0,70.0,10,7.62500,8,23,0,53,615,14,0,NaN,True,False
43347,351913,1.0,4.0,NaN,NaN,14,8.25000,8,6,0,65,600,20,0,NaN,False,False
67381,342062,2.0,4.0,NaN,NaN,14,7.22500,16,37,0,55,594,36,0,NaN,False,True
79181,358800,2.0,4.0,50.0,50.0,10,9.22000,4,7,0,60,588,7,0,NaN,False,False
84881,315727,2.0,4.0,45.0,75.0,14,7.74113,68,51,0,55,588,55,5,2.4000,False,True
51428,350205,3.0,5.0,180.0,240.0,14,7.23077,13,83,0,66,586,64,9,3.5556,False,False
75552,328124,1.0,4.0,30.0,60.0,14,8.13782,49,34,0,66,580,45,7,2.5714,False,True
79849,352695,1.0,2.0,45.0,90.0,12,7.27353,34,53,1,73,560,49,3,3.0000,True,False
20699,344105,1.0,4.0,60.0,120.0,13,7.72407,54,22,0,59,556,41,7,3.4286,True,True
91220,355326,1.0,3.0,45.0,130.0,14,6.57895,19,0,0,41,538,19,0,NaN,False,False
33721,355957,1.0,4.0,60.0,90.0,10,9.00000,2,6,0,57,519,5,0,NaN,True,False
52420,349793,1.0,4.0,60.0,90.0,14,7.80756,60,43,0,51,512,50,6,2.6667,False,True
132778,256713,1.0,2.0,30.0,60.0,14,7.12453,25,93,1,43,511,66,8,3.5000,False,True
134030,342900,1.0,4.0,60.0,240.0,12,7.10606,33,45,0,43,508,48,2,3.5000,True,True
30161,326937,2.0,3.0,20.0,40.0,14,8.00000,10,10,0,93,503,2,0,NaN,True,False
134394,331820,1.0,4.0,45.0,60.0,14,7.29952,14,71,0,42,498,45,0,NaN,True,True
75486,361469,1.0,4.0,90.0,180.0,14,7.66600,20,19,0,38,489,36,2,2.0000,True,False
120386,306482,1.0,5.0,90.0,120.0,14,7.19535,43,64,0,47,478,67,6,3.0000,False,True
27491,359999,1.0,4.0,30.0,120.0,12,3.55000,20,1,0,58,474,17,3,3.3333,True,False
82225,270871,1.0,4.0,60.0,120.0,10,8.52807,57,34,1,47,474,62,10,2.6000,False,True
111723,329716,1.0,4.0,60.0,120.0,14,5.64341,41,76,1,62,465,59,3,2.6667,True,False